{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    {#    {% include 'headers.html' %}#}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Give In Good Hands</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/app_SB.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>

{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block content %}
    {% include 'index.html' %}
{% endblock %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
<script src="{% static "js/app.js" %}"></script>
</body>
</html>
